{% extends "course/base_student.html" %}

{% block content_Wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">All Courses</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">{{ course.name }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ course.description }}</p>
                                <p class="card-text"><strong>Teacher:</strong> {{ course.created_by.username }}</p>
                                <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        {% if courses.has_previous %}
                            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                            <a class="btn btn-primary" href="?page={{ courses.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="mx-2">Page {{ courses.number }} of {{ courses.paginator.num_pages }}.</span>
                        {% if courses.has_next %}
                            <a class="btn btn-primary" href="?page={{ courses.next_page_number }}">next</a>
                            <a class="btn btn-primary" href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content_Wrapper %}
